body {
    background-color: #111;
}

.flex-container {
    display: flex;
}

.flex-container.column {
    display: flex;
    flex-direction: column;
}

.flex-container .form {
    justify-content: center;
}

.canvas {
    background-color: #333;
}

label {
    color: white;
    margin: 10px;
}